<!DOCTYPE HTML>
<div component="$model/UI2/system/components/justep/window/window" xid="window" design="device:mobile" data-bind="component:{name:'$model/UI2/system/components/justep/window/window'}" __cid="cQB7fqm" class="cQB7fqm" components="$model/UI2/system/components/justep/model/model,$model/UI2/system/components/justep/loadingBar/loadingBar,$model/UI2/system/components/justep/button/button,$model/UI2/system/components/justep/titleBar/titleBar,$model/UI2/system/components/justep/panel/child,$model/UI2/system/components/justep/data/data,$model/UI2/system/components/justep/window/window,$model/UI2/system/components/justep/panel/panel,">
  <style>.x-titlebar.cQB7fqm{background-color: rgb(237, 72, 70)} .text-black.cQB7fqm{color: rgb(33, 33, 33)} .text-red.cQB7fqm{color: rgb(237, 72, 70)}</style>  
  <div component="$model/UI2/system/components/justep/model/model" xid="model" style="display:none" data-bind="component:{name:'$model/UI2/system/components/justep/model/model'}" data-events="onParamsReceive:modelParamsReceive" __cid="cQB7fqm" class="cQB7fqm"></div>  
  <div component="$model/UI2/system/components/justep/panel/panel" class="x-panel x-full pc2qQBZz-iosstatusbar cQB7fqm" data-bind="component:{name:'$model/UI2/system/components/justep/panel/panel'}" __cid="cQB7fqm"> 
    <div class="x-panel-top cQB7fqm" component="$model/UI2/system/components/justep/panel/child" data-bind="component:{name:'$model/UI2/system/components/justep/panel/child'}" __cid="cQB7fqm"> 
      <div component="$model/UI2/system/components/justep/titleBar/titleBar" class="x-titlebar cQB7fqm" data-bind="component:{name:'$model/UI2/system/components/justep/titleBar/titleBar'}" data-config="{&#34;title&#34;:&#34;详情&#34;}" __cid="cQB7fqm"> 
        <div class="x-titlebar-left cQB7fqm" __cid="cQB7fqm"> 
          <a component="$model/UI2/system/components/justep/button/button" class="btn btn-link btn-only-icon cQB7fqm" xid="backBtn" data-bind="component:{name:'$model/UI2/system/components/justep/button/button'}" data-events="onClick:backBtnClick" data-config="{&#34;icon&#34;:&#34;icon-chevron-left&#34;,&#34;label&#34;:&#34;&#34;}" __cid="cQB7fqm"> 
            <i class="icon-chevron-left cQB7fqm" __cid="cQB7fqm"></i>  
            <span __cid="cQB7fqm" class="cQB7fqm"></span> 
          </a> 
        </div>  
        <div class="x-titlebar-title cQB7fqm" __cid="cQB7fqm">详情</div>  
        <div class="x-titlebar-right  cQB7fqm" __cid="cQB7fqm">
          <div class="empty cQB7fqm" __cid="cQB7fqm"></div>
        </div> 
      </div> 
    </div>  
    <div class="x-panel-content cQB7fqm" component="$model/UI2/system/components/justep/panel/child" data-bind="component:{name:'$model/UI2/system/components/justep/panel/child'}" __cid="cQB7fqm"> 
      <div class="x-control-group cQB7fqm" xid="controlGroup1" __cid="cQB7fqm"> 
        <div class="x-control-group-title cQB7fqm" xid="controlGroupTitle1" __cid="cQB7fqm"> 
          <span xid="span1" __cid="cQB7fqm" class="cQB7fqm" data-bind="text:data.val('title')"></span>
        </div>  
        <span xid="span2" __cid="cQB7fqm" class="cQB7fqm" data-bind="text:data.val('wDate')"></span>  
        <div xid="div4" __cid="cQB7fqm" class="cQB7fqm" data-bind="foreach:data.datas"> 
          <p xid="p1" __cid="cQB7fqm" class="cQB7fqm" data-bind="text:val('content')"></p>
        </div> 
      </div>
    </div>  
    <style __cid="cQB7fqm" class="cQB7fqm">.x-panel.pc2qQBZz-iosstatusbar >.x-panel-top {height: 48px;}.x-panel.pc2qQBZz-iosstatusbar >.x-panel-content { top: 48px;bottom: nullpx;}.x-panel.pc2qQBZz-iosstatusbar >.x-panel-bottom {height: nullpx;}.iosstatusbar .x-panel.pc2qQBZz-iosstatusbar >.x-panel-top,.iosstatusbar .x-panel .x-panel-content .x-has-iosstatusbar.x-panel.pc2qQBZz-iosstatusbar >.x-panel-top {height: 68px;}.iosstatusbar .x-panel.pc2qQBZz-iosstatusbar >.x-panel-content,.iosstatusbar .x-panel .x-panel-content .x-has-iosstatusbar.x-panel.pc2qQBZz-iosstatusbar >.x-panel-content { top: 68px;}.iosstatusbar .x-panel .x-panel-content .x-panel.pc2qQBZz-iosstatusbar >.x-panel-top {height: 48px;}.iosstatusbar .x-panel .x-panel-content .x-panel.pc2qQBZz-iosstatusbar >.x-panel-content {top: 48px;}</style>
  </div> 
</div>